
.landingBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;   
    margin-bottom: 100px;   
    margin-left: 300px;
    margin-right: 300px;
    background-color: #8F8073; 
    border-radius: 10px;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;    
    margin-left: 150px;
    margin-right: 150px;
    background-color: #EAE6E5;
    padding-bottom: 50px;
    border-radius: 10px;
}

.welcomeMsg {
    display: flex;
    padding: 7px;
    color: #12130F;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px; 
    text-shadow: 2px 1px linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

.homeButton {
    color: #12130F;
    background-color: #8F8073;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-shadow: 0,5px, 0,5px;
    padding: 10px 25px;
    margin-bottom: 15px;
    border-color: #8F8073;
    border-radius: 3px;
    cursor: pointer;

}

.homeButton:hover {
    color:#C8CDD0;
    background-color: #413c36;
}